.Metrics {
  height: 900px;
}

h1 {
  font-size: 50px;
  padding: 0 110px 26px 10px;
}

#image-horizontal-info {
  width: 800px
}

#image-vertical-info {
  width: 350px
}

html,body
{
    overflow-x: hidden;
}
