#image-header{
  width: 1680px;
  height: 95px;
}

#header-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:rgb(13, 83, 169);
}
.header-container {
  position: relative;
  text-align: center;
  color: white;
}